@import "../../../styles/variables.scss";

.popup {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $transparent-dark-background-color;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 999;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}
