@import "../../../styles/variables.scss";

.button {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    span,
    span svg {
      color: var(--primary-icon-hover-color);
    }
  }

  & span,
  & span svg {
    transition: 0.2s;
    color: var(--primary-text-color);
  }

  & span {
    height: 20px;
    line-height: 22px;
  }
}
