@import "../../../styles/variables.scss";

.decorationPannelContainer.header {
  background-color: $light-background-color;

  padding: clamp(0.625rem, 0.489rem + 0.68vw, 1rem) 0
    clamp(1rem, -1.227rem + 7vw, 7.125rem);

  .decorationPannel {
    width: 100%;
    // margin: clamp(0.625rem, 0.489rem + 0.68vw, 1rem) 0
    //   clamp(1rem, -1.227rem + 9vw, 7.125rem);

    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(242, 242, 242);

    @media (max-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    & > li {
      transition: transform 0.3s ease;
    }

    & > li:nth-child(5),
    & > li:nth-child(9) {
      transform: rotate(-90deg);
    }
    & > li:nth-child(7) {
      transform: rotate(90deg);
    }

    &:hover {
      & > li:nth-child(1),
      & > li:nth-child(4) {
        transform: scale(0.9) rotate(90deg);
      }

      & > li:nth-child(8) {
        transform: scale(0.9) rotate(-90deg);
        transition-duration: 0.9s;
      }
      & > li {
        transition: transform 0.6s ease; /* Сделаем задержку возвращения */
      }
    }

    &:not(:hover) {
      & > li:nth-child(8) {
        transform: scale(1) rotate(0deg);
        transition-duration: 0.7s;
      }
    }

    & > li:last-child {
      @media (max-width: 480px) {
        display: none;
      }
    }
  }
  .decorationElements {
    max-width: 200px;
  }
}
// ----------
.decorationPannelContainer.footer {
  padding: clamp(1rem, -1.227rem + 7vw, 7.125rem);
  background-color: var(--primary-background);

  .decorationPannel {
    margin: auto;
    max-width: 800px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    & li {
      display: flex;
      align-items: center;
    }
  }
}
