// light
$light-background-color: #ffffff;
$module-gray-background-color: #d3d9db;

// dark
$dark-background-color: #264653;
$module-dark-background-color: #000000;

// $module-dark-background-color: #1F1F1F;

$accent-green-color: #2a9d8f;
// $accent-warm-orange-brown-color: #2a9d8f;

// text
$primary-black-text-color: #000000;
$primary-gray-text-color: #808080;
$secondary-gray-text-color: #a6a6a6;
$primary-white-text-color: #ffffff;
$text-warning-color: #e9c46a;
$text-danger-color: #e76f51;

// fonts
$font-heading: "Unbounded", serif;
$font-primary: "Libre Baskerville", serif;
