@import "../../../styles/variables.scss";

.footer {
  background-color: var(--primary-background);
  padding: clamp(1rem, -1.227rem + 7vw, 7.125rem);
}
.footerContainer {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}
.logoContainer {
  flex-basis: 50%;
}
.date {
  margin-top: 10px;
  font-size: 14px;
}
