@import "../../../styles/variables.scss";

.userCard {
  width: 100%;
  background-color: var(--primary-background);
  border-radius: 10px;
  padding: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  margin-top: 20px;
}

.userCardContainer {
  display: flex;
  gap: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.button {
  width: 100%;
  margin-top: 20px;
  background-color: var(--popup-button-color);
  transition: background-color 0.3s ease;
  color: $primary-white-text-color;
  box-shadow: var(--button-shaddow);
  &:hover {
    background-color: var(--popup-button-hover-color);
  }
}
