@import "../../../styles/variables.scss";
.navigationLinks {
  & a.active {
    color: $text-danger-color;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $text-danger-color;
      position: absolute;
      bottom: -3px;
      opacity: 1;
    }
  }
}
